@model IEnumerable<CoreMVC.Models.ProductModel>

<section id="best-sellers" class="best-sellers product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Best Selling Items</h4>
            <a href="/Product/All" class="btn-link">View All Products</a>
        </div>

        <div class="swiper product-swiper open-up">
            <div class="swiper-wrapper d-flex">
                @if (Model?.Any() == true) // Check if model has items
                {
                    foreach (var product in Model)
                    {
                        <div class="swiper-slide">
                            <div class="product-item image-zoom-effect link-effect">
                                <div class="image-holder">
                                    <a href="/Product/Details/@product.Id">
                                        <img src="@product.ImageData" alt="@product.Name" class="product-image img-fluid">
                                    </a>
                                    <a href="#" class="btn-icon btn-wishlist">
                                        <svg width="24" height="24" viewBox="0 0 24 24">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                    <div class="product-content">
                                        <h5 class="text-uppercase fs-5 mt-3">
                                            <a href="/Product/Details/@product.Id">@product.Name</a>
                                        </h5>
                                        <span class="text-decoration-none" data-after="Add to cart">$@product.Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="swiper-slide">
                        <p>No products available.</p>
                    </div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
